<div class="line">
  <mat-form-field appearance="outline">
    <mat-label>Сортировка пользователей</mat-label>
    <mat-select #sortType (selectionChange)="sort(sortType.value)">
      <mat-option value="0">От А до Я</mat-option>
      <mat-option value="1">От Я до А</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Поиск</mat-label>
    <input matInput placeholder="Найти пользователя" value="" #searchInput (keyup.enter)="search(searchInput.value)">
    <mat-icon matSuffix (click)="search(searchInput.value)">search</mat-icon>
  </mat-form-field>
</div>

<div class="line">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" value="" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User Role</mat-label>
    <mat-select [(ngModel)]="role">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="User">User</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addUser()">Добавить</button>
</div>

<div *ngIf="users.length > 0; else empty">
  <mat-selection-list #shous (selectionChange)="selectItem(shous.selectedOptions.selected)">
    <mat-list-option
      [value]="user"
      *ngFor="let user of users; let i = index"
      [ngClass]="{grey: i % 2}">
      <div>
        <span class="item">{{user.username}}</span>
        <span class="item">{{user.name}}</span>
        <span *ngIf="user.role === 'Admin'" class="item">{{user.role}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <div class="line footer">
    <div>
      <p>
        Выбрано пользователей: {{shous.selectedOptions.selected.length}}
      </p>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="deleteUsers()">Удалить</button>
    </div>
  </div>
</div>
<ng-template #empty>
  <h3>Список пуст</h3>
</ng-template>




